.link {
}

.active {
  &:before {
    position: absolute !important;
    width: 4px;
    height: 4px;
    background-color: black !important;
    border-radius: 50%;
    left: -12px !important;
    top: 47% !important;
  }
}
